@{
    Layout = "/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    @* View Cmponent of the user here *@
</div>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section header {
    @RenderSection("header", required: false)
}

@section scripts {
    @RenderSection("scripts", required: false)
}