<footer class="footer">
    <div class="container">
        <span class="text-muted"><i class="far fa-copyright fa-fw fa-lg"></i> @DateTime.Today.Year - Saudi Geological Survey </span>
        <span class="text-muted float-right" dir="rtl"><i class="far fa-copyright fa-fw fa-lg"></i> 1439 - هيئة المساحة الجيولوجية السعودية</span>
    </div>
</footer>